<!-- Business Contact list page, for the secure side of the site -->
<%- include ../partials/header.ejs %>

<%- include ../partials/navigation.ejs %>

    <div class="content">
        <!-- businessContacts list content -->
        <main class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-8">
                    <h1><%= title %></h1>
                    <% if (typeof displayName == 'string' && displayName) { %>
                    <a href="/business-contacts/add" class="btn btn-primary" role="button">
                        <i class="fas fa-plus-circle"></i> Add Contact</a>
                    <% } %>
                    <br>
                    <table class="table table-brodered table-striped table-hover">
                        <!-- Header Row -->
                        <tr>
                            <th class="text-center">Name</th>
                            <th class="text-center">Contact Number</th>
                            <th class="text-center">eMail</th>
                            <% if (typeof displayName == 'string' && displayName) { %>
                                <th class="text-center"></th>
                            <% } %>
                        </tr>

                        <!-- Repeatable Template Row -->
                        <% for(let count = 0; count < ContactList.length; count++) {%>
                            <tr>
                                <td class="text-center"><%= ContactList[count].name %></td>
                                <td class="text-center"><%= ContactList[count].number %></td>
                                <td class="text-center"><%= ContactList[count].email %></td>
                                <% if (typeof displayName == 'string' && displayName) { %>
                                    <td class="text-center">
                                        <a href="/business-contacts/confirm-delete/<%= ContactList[count]._id %>" class="btn btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete</a>
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </main>
    </div>

<%- include ../partials/footer.ejs %>