<!-- Contact Me page  -->
<%- include partials/header.ejs %>

<%- include partials/navigation.ejs %>

        <!-- page body -->
        <div class="content">
            <h1><%= title %></h1>
            <p>You can contact me through email at <%= email %> or by phone at <%= phoneNum %><br>(e-mail is preferred)</p>
            <div style="align-content:center">
                <h2>Contact form</h2>
                <p>Disclaimer: this form doesn't actually work yet. All data entered here will not be saved.</p>
                <form action="/" target="_self" method="get">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname"><br>
                    <label for="contactNum">Contact number:</label><br>
                    <input type="tel" id="contactNum" name="contactNum"><br>
                    <label for="eMail">eMail address:</label><br>
                    <input type="email" id="eMail" name="eMail"><br>
                    <label for="message">Message:</label><br>
                    <textarea style="width:100%;" id="message" name="message" rows="10"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>

<%- include partials/footer.ejs %>